<div class="container-fluid p-0 vh-100">
    <div class="row g-0 h-100">
        <!-- Left Banner Side -->
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-dark text-white banner-side">
            <div class="banner-content p-5 text-center">
                <div class="logo-box mb-5 justify-content-center flex-column text-center">
                    <i class="fas fa-university fa-3x mb-3 text-info"></i>
                    <h2 class="fw-bold">SwiftPay</h2>
                </div>
                <div class="banner-text">
                    <h1 class="display-3 fw-bolder mb-3">
                        Transfer money <br>
                        <span class="text-info">safe, secure and reliable</span>
                    </h1>
                    <p class="fs-4 text-secondary mb-5">Experience the next generation of Netbanking</p>
                </div>
            </div>
        </div>

        <!-- Right Form Side -->
        <div class="col-md-6 d-flex align-items-center justify-content-center bg-white p-4">
            <div class="container" style="max-width: 480px;">
                @if (showLoginForm()) {
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()"
                        class="login-form shadow-lg p-4 rounded-4 border-0 position-relative">
                        <div class="text-center mb-4">
                            <h2 class="fw-bold h5">Welcome back to Swiftpay</h2>
                            <p class="text-muted small">Secure access to your account</p>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label fw-bold text-dark">Account No.</label>
                            <input type="text" id="username" formControlName="username" accountMask inputmode="numeric"
                                class="form-control form-control-lg border-2 shadow-none" placeholder="XXXX-XXXX-XXXX">
                            <div class="error-message text-danger">
                                @if (submitted() || loginForm.controls['username']?.touched) {
                                    @if (loginForm.controls['username']?.errors?.['required']) {
                                        Account no. is required
                                    } @else if (loginForm.controls['username']?.errors?.['minlength'] || loginForm.controls['username']?.errors?.['maxLength']) {
                                        Account no. must be 12 digits
                                    }
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label fw-bold text-dark">Password</label>
                            <input type="password" id="password" formControlName="password"
                                class="form-control form-control-lg border-2 shadow-none" placeholder="*********">
                            <div class="error-message text-danger">
                                @if (submitted() || loginForm.controls['password']?.touched) {
                                    @if (loginForm.controls['password']?.errors?.['required']) {
                                        Password is required
                                    } @else if (loginForm.controls['password']?.errors?.['minlength']) {
                                        Password must be atleast 8 characters
                                    }
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg rounded-3 fw-bold py-3" [disabled]="isLoading()">
                                    @if (isLoading()) {
                                        <span class="spinner-border spinner-border-sm me-2"></span>
                                    } @else {
                                        Login to Account
                                    }
                                </button>
                            </div>

                            @if (errorMessage().length != 0) {
                                <div class="text-center mt-2 fadeIn">
                                    <span class="fw-bold error-message text-danger">
                                        {{ errorMessage() }}
                                    </span>
                                </div>
                            }
                        </div>

                        <div class="login-footer">
                            Don't have an account? <a (click)="onChangeForm(false)">create one</a>
                        </div>
                    </form>
                } @else {
                    <form [formGroup]="signupForm" (ngSubmit)="onSignUp()"
                        class="login-form shadow-lg p-4 rounded-4 border-0 position-relative">
                        <div class="text-center mb-4">
                            <h2 class="fw-bold h5">Welcome to Swiftpay</h2>
                            <p class="text-muted small">Create a secure account with us</p>
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label fw-bold text-dark">First Name</label>
                            <input type="text" id="firstName" formControlName="firstName"
                                class="form-control form-control-lg border-2 shadow-none" placeholder="John">
                            <div class="error-message text-danger">
                                @if (submitted() || signupForm.controls['firstName']?.touched) {
                                    @if (signupForm.controls['firstName']?.errors?.['required']) {
                                        First name is required
                                    }
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="lastName" class="form-label fw-bold text-dark">Last Name</label>
                            <input type="text" id="lastName" formControlName="lastName"
                                class="form-control form-control-lg border-2 shadow-none" placeholder="Doe">
                            <div class="error-message text-danger">
                                @if (submitted() || signupForm.controls['lastName']?.touched) {
                                    @if (signupForm.controls['lastName']?.errors?.['required']) {
                                        First name is required
                                    }
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label fw-bold text-dark">Password</label>
                            <input type="password" id="password" formControlName="password"
                                class="form-control form-control-lg border-2 shadow-none" placeholder="*********">
                            <div class="error-message text-danger">
                                @if (submitted() || signupForm.controls['password']?.touched) {
                                    @if (signupForm.controls['password']?.errors?.['required']) {
                                        Password is required
                                    } @else if (signupForm.controls['password']?.errors?.['minlength']) {
                                        Password must be atleast 8 characters
                                    } @else if (signupForm.controls['password']?.errors?.['invalidPassword']) {
                                        Password must have atleast one uppercase, digit, and special character
                                    }
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label fw-bold text-dark">Cofirm Password</label>
                            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                                class="form-control form-control-lg border-2 shadow-none" placeholder="*********">
                            <div class="error-message text-danger">
                                @if (submitted() || signupForm.controls['confirmPassword']?.touched) {
                                    @if (signupForm.controls['confirmPassword']?.errors?.['required']) {
                                        Confirm password is required
                                    } @else if (signupForm.controls['confirmPassword']?.errors?.['passwordMismatch']) {
                                        Password doesn't match
                                    }
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg rounded-3 fw-bold py-3" [disabled]="isLoading()">
                                    @if (isLoading()) {
                                        <span class="spinner-border spinner-border-sm me-2"></span>
                                    } @else {
                                        Create an Account
                                    }
                                </button>
                            </div>

                            @if (errorMessage().length != 0) {
                                <div class="text-center mt-2 fadeIn">
                                    <span class="fw-bold error-message text-danger">
                                        {{ errorMessage() }}
                                    </span>
                                </div>
                            }
                        </div>

                        <div class="login-footer">
                            Already have an account? <a (click)="onChangeForm(true)">login</a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>